/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
  height: 100%;
  background: -prefix-linear-gradient(top, hsla(226, 63%, 10%, 1), white 80%, orange);
  background: linear-gradient(to bottom, hsla(226, 63%, 10%, 1), white 80%, orange);
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* Negative indent footer by its height */
  padding: 0 0 60px;    /* Pad bottom by footer height */
}

.container .credit {
  text-align: right;
  margin: 20px 0;
}

.cover {
  background-color: black;
  width: 560px;
  height: 315px;
  margin: 2px;
}

footer {
  height: 0px;
}

.logout-link {
  margin-top: 8px;
}

.current_user_header {
  color: hsla( 0, 0.0%, 94.0%, 1 );
  float: left;
  margin: 14px;
}

.round-button {
    width: 120px;
    height: 20px;
    border: 0px;
    overflow: hidden;
    background: hsla(18, 100%, 50%, .6);
    color: hsla(0, 0%, 56%, 1);
    -webkit-transition: color .3s, background .3s;
    transition: color .3s, background .3s;
}
.round-button:hover {
  color: white;
  background: hsla(18, 100%, 50%, 1);
}

#pick-beat {
  color: hsla(0, 0%, 80%, 1);
  font-size: x-large;
  margin-left: 60px;
}

#tag-button {
  width: 80px;
  height: 20px;
  border-radius: 10%;
  border: 0px;
  overflow: hidden;
  background: hsla(41, 100%, 54%, 1);
  color: white;
  margin-left: 40px;
}

#mood-buttons {
  margin: 10px;
}

#music-list {
  list-style-type: none;
}

#music-item {
  background-color: hsla(0, 0%, 23%, 1);
  color: hsla(0, 0%, 56%, 1);
  padding-left: 4px;
  -webkit-transition: padding-left .2s;
  transition: padding-left .2s;
}

#music-item:hover {
  background-color: hsla(0, 0%, 40%, 1);
  color: white;
  padding-left: 12px;
  cursor: pointer;
}

.slice text {
  font-size: 14pt;
  font-family: Helvetica;
}