/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
  height: 100%;
  background: -prefix-linear-gradient(top, hsla(226, 63%, 10%, 1), white 80%, orange);
  background: linear-gradient(to bottom, hsla(226, 63%, 10%, 1), white 80%, orange);
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* Negative indent footer by its height */
  padding: 0 0 60px;    /* Pad bottom by footer height */
}

.container .credit {
  text-align: right;
  margin: 20px 0;
}

footer {
  height: 0px;
}

.logout-link {
  margin-top: 8px;
}

.current_user_header {
  color: hsla( 0, 0.0%, 94.0%, 1 );
  float: left;
  margin: 14px;
}

.round-button {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 0px;
    overflow: hidden;
    background: hsla(18, 100%, 50%, 1);
}
.round-button:hover {
    background: hsla(61, 100%, 50%, 1);
}